{% extends "Aprendiz_config.html" %}

{% block title %}SENA Attendance{% endblock %}

{% block content %}

<form method="POST">
    <label>Tipo de documento</label>
    <select name="typeid" class="form-select">
        <option value="CC">CC</option>
        <option value="TI">TI</option>
        <option value="CE">CE</option>
        <option value="PEP">PEP</option>
        <option value="PPT">PPT</option>
    </select>

    <label>Número de documento</label>
    <input type="text" name="id" class="form-control" required>

    <label>Email</label>
    <input type="email" name="email" class="form-control" required>

    <label>Nombre</label>
    <input type="text" name="name" class="form-control" required>

    <label>Apellido</label>
    <input type="text" name="lastname" class="form-control" required>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
{% endblock %}