{% extends "Aprendiz_config.html" %}

{% block title %}SENA Attendance{% endblock %}

{% block content %}

<main class="container my-4">
            <div class="card p-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="h5 mb-3">Lista de Coordinadores</h2>
                        <a href="{{ url_for('coordinador.coordinador_create_C') }}" class="btn btn-success btn-sm">
                        Crear nuevo usuario 
                    </a>
                </div>
                
                <ul class="list-group">
                    {% for coordinador in users %}
                            <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                                <div>
                                    <strong>{{ coordinador.Nom_Adm }} {{ coordinador.Ape_Adm }}</strong> 
                                    <small class="text-muted d-block">ID: {{ coordinador.Id_Adm }} - {{ coordinador.Cor_Adm }}</small>
                                </div>
                                
                                <div>
                                    <a href="{{ url_for('coordinador.coordinador_alter_C', id=coordinador.Id_Adm) }}" class="btn btn-warning btn-sm me-2">
                                        Editar
                                    </a>
                                    <a href="{{ url_for('coordinador.coordinador_delete_C', id=coordinador.Id_Adm) }}" class="btn btn-danger btn-sm">
                                        Eliminar
                                    </a>
                                </div>
                            </li>
                    {% endfor %}
                </ul>
                
        </main>

{% endblock %}