<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENA Attendance</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="Login_container">
<navbar>
    <div class="nav-links">
        <a href="/">Inicio</a>
        <a href="/module/password" style="color:rgb(0, 201, 90)">Recuperar contraseña</a>
    </div>
    <div class="titulo">
        <img src="https://www.sena.edu.co/Style%20Library/alayout/images/logoSena.png" alt="Logo SENA" width="40" height="40">
    </div>
</navbar>
        <div>
            Digite su correo <nam style="color: rgb(0, 129, 32);">electronico</nam>, para solicitar una nueva <p>contraseña.<br><br>
        <form class="formulario_login" method="POST" action="/users/login">
            <center><input style="width: 250px; margin-bottom: 25px;;" class="input-login" type="email" placeholder="Correo@gmail.com" required id="password" name="password"><br>
            <button style="width: 250px;" type="submit">Enviar</button></center>
        </form>
        </div>
    </div>
</body>
</html>